{% extends "base.html" %}
{% block title %}سبد خرید{% endblock %}
{% load static %}
{% block content %}
<div class="header">
    <div class="title-header-bar fixed-top bg-white">
        <a href="#" class="back-btn"><i class="icon-right"></i></a>
        <h1>سبد خرید</h1>
    </div>
</div>
<div class="app pt-80 pb-70">
    <div class="tf-container">
        {% if cart_items %}
            <ul>
                {% for item in cart_items %}
                <li class="tf-box-row style-2 qty mb-12">
                    <a href="" class="img-box">
                        <img src="{{ item.product.product_photo.url }}" alt="{{ item.product.name }}">
                    </a>
                    <div class="content-box">
                        <h5><a href="">{{ item.product.name }}</a></h5>
                        <ul class="review">
                            <li>{{ item.product.description }}</li>
                        </ul>
                        
                        <div class="total-qty">
                            <span class="price">{{ item.product.price }} تومان</span>
                            <div class="sec-qty">
                                <span class="btn-quantity minus-btn"><i class="icon-minus"></i></span>
                                <!-- فرم برای دکمه کاهش مقدار -->
                                {% comment %} <form action="{% url 'cart_update_quantity' item.product.id %}" method="post" style="display:inline;">
                                    {% csrf_token %}
                                    <input name="quantity" value="{{ item.quantity|add:"-1" }}">
                                    <button type="submit" class="btn-quantity minus-btn"><i class="icon-minus"></i></button>
                                </form> {% endcomment %}
                                <input type="number" name="number" value="{{ item.quantity }}">
                                <span class="btn-quantity active plus-btn"><i class="icon-plus"></i></span>
                                {% comment %} <form action="{% url 'cart_update_quantity' item.product.id %}" method="post" style="display:inline;">
                                    {% csrf_token %}
                                    <input name="quantity" value="{{ item.quantity|add:"1" }}">
                                    <button type="submit" class="btn-quantity active plus-btn"><i class="icon-plus"></i></button>
                                </form> {% endcomment %}
                            </div>
                            <form action="{% url 'cart_remove' item.product.id %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">حذف</button>
                            </form>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="mt-30 mb-30">
                <p class="mt-15 list-order-total mb-26">
                    کل: <span>{{ cart.get_total_price }} تومان</span>
                </p>
                <a href="{% url 'checkout' %}" class="tf-btn large primary">ادامه برای ثبت نهایی سفارش</a>
            </div>
        {% else %}
            <p>سبد خرید شما خالی است.</p>
        {% endif %}
    </div>
</div>

{% endblock %} 
