{% extends "base.html" %}
{% block title %}پرداخت{% endblock %}
{% load static %}
{% block content %}
<div class="header">
    <div class="title-header-bar fixed-top bg-white">
        <a href="#" class="back-btn"><i class="icon-right"></i></a>
        <h1>پرداخت</h1>
    </div>
</div>
<div class="app pt-80">
    <div class="tf-container">
        <form action="{% url 'finalize_cart' %}" method="post">
            {% csrf_token %}
            <div class="title-bar st1">
                <h3>میز</h3>
            </div>
            <div class="list-view-card mt-17">
                <a class="map">
                    <img src="images/cards/pay1.png" alt="تصویر">
                </a>
                <div class="content">
                    <p style="margin-bottom: 10px">یک میز را از منوی زیر انتخاب کنید:</p>
                    {{order_form.table}}
                </div>
            </div>

            <h3 class="mt-25 fw-7">روش پرداخت</h3>
            <div class="list-view-card mt-12">
                <div class="img bg-card">
                    <img src="images/cards/card-1.jpg" alt="تصویر">
                </div>
                <div class="content">
                    <p style="margin-bottom: 10px">یک میز را از منوی زیر انتخاب کنید:</p>
                    {{order_form.payment_method}}
                </div>
            </div>

            <h3 class="mt-25 fw-7">شماره همراه</h3>
            <div class="list-view-card mt-12">
                <div class="img bg-card">
                    <img src="images/cards/card-1.jpg" alt="تصویر">
                </div>
                <div class="content">
                    <p style="margin-bottom: 10px">شماره تلفن خود را وارد کنید (اختیاری):</p>
                    {{order_form.phone_number}}
                </div>
            </div>

            <div class="box-total-order st1 pt-70">
                <ul>
                    <li class="list-order line">
                        مجموع آیتم‌ها: <span>{{ cart.get_total_price }} تومان</span>
                    </li>
                </ul>
                <p class="mt-15 list-order-total mb-30">
                    مجموع: <span>{{ cart.get_total_price }} تومان</span>
                </p>

                <div>
                    <button type="submit" class="tf-btn large primary mb-20" style="margin-bottom:100px;">ثبت سفارش</button>
                </div>
            </div>
    </div>
</div>
{% endblock %} 