{% extends 'base.html' %}
{% block title %}سفارش های من{% endblock %}
{% load static %}

{% block content %}
<div class="header">
    <div class="title-header-bar fixed-top bg-white">
        <a href="#" class="back-btn"><i class="icon-right"></i></a>
        <h1>سفارش های من</h1>
    </div>
</div>
{% if orders %}
<div class="pt-80">
    <div class="tf-container">
        <ul class="mt-12">
            {% for order in orders %}
            <li class="mb-15">
                <div class="list-view-card">
                    <div class="img bg-card">
                        <img class="img" src="{% static 'main/images/avt/order_history.png' %}" alt="{{order.id}}">
                    </div>
                    <div class="content">
                        <a href="{% url 'order_detail' order.id %}">
                            <h5 >سفارش #{{order.id}}</h5>
                        </a>
                        <p>
                            {% for item in order.items.all %}
                                {{ item.product.name }} - {{ item.quantity }}{% if not forloop.last %} و {% endif %}
                            {% endfor %}
                        </p>
                        <p>مبلغ سفارش: {{ order.total_price }} </p>
                        <hr>
                        <p>وضعیت: {{ order.get_status_display }}</p>
                        
                    </div>
                </div>
            </li>
            {% endfor %}
       </ul>
    </div>
</div>
{% else %}
    <p>سفارشی وجود ندارد.</p>
{% endif %}
{% endblock %}
<h2>تاریخچه سفارشات</h2>
{% if orders %}
    <ul>
    {% for order in orders %}
        <li>
            Table: {{ order.table }} 
        </li>
        <li>
            Order Items: {% for item in order.items.all %}{{ item.product.name }} - {{ item.quantity }}{% endfor %}
            {% comment %} <a href="{% url 'order_detail' order.id %}">View Details</a> {% endcomment %}
        </li>
        <li>
            Status: {{ order.get_status_display }} 
        </li>
        <li>
            Total: {{ order.total_price }} 
        </li>
        <hr>
    {% endfor %}
    </ul>
{% else %}
    <p>No order history available.</p>
{% endif %}
