{% extends 'base.html' %}
{% block title %}افزودن محصول جدید{% endblock %}
{% load static %}

{% block content %}
<body>
<div class="header"> 
    <div class="title-header-bar fixed-top bg-white">
        <a class="back-btn"><i class="icon-right"></i></a>
        <h1>افزودن محصول جدید</h1>
    </div>
</div>
<div class="app pt-80">
    <div class="tf-container">
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <h3 class="mt-30 fw-7 lh-26" style="margin-bottom: 15px;">نام محصول</h3>
            {{ form.name }}
            
            <h3 class="mt-30 fw-7 lh-26" style="margin-bottom: 15px;">توضیحات</h3>
            {{ form.description }}
            
            <h3 class="mt-30 fw-7 lh-26" style="margin-bottom: 15px;">قیمت</h3>
            {{ form.price }}

            <h3 class="mt-30 fw-7 lh-26" style="margin-bottom: 15px;">موجودی انبار</h3>
            {{ form.stock_quantity }}
            
            <h3 class="mt-30 fw-7 lh-26" style="margin-bottom: 15px;">دسته‌بندی</h3>
            {{ form.category }}
            
            <h3 class="mt-30 fw-7 lh-26" style="margin-bottom: 15px;">عکس محصول</h3>
            <p style="margin-bottom:5px;color:red">برای افزودن عکس به محصول، از عکس های 1:1 ترجیحا با سایز 512*512 پیکسل استفاده نمایید.</p>
            {{ form.product_photo }}
            {% if form.product_photo.errors %}
                <div class="error">
                    {% for error in form.product_photo.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <button type="submit" style="margin-top:15px; margin-bottom:75px">ذخیره کردن</button>
        </form>
    </div>
</div>
{% endblock %}

<h2>افزودن محصول جدید</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">افزودن</button>
</form>

