{% extends 'base.html' %}
{% block title %}صفحه اصلی{% endblock %}
{% load static %}

{% block content %}

<body class="appHome2">

    <div class="app home-2">
        <div class="inner-headerbar fixed-top bg-primary st1">
            <h1> {{ site_info.site_name}} |
                {{ site_info.slogan}} </h1>
        </div>
        

        <div class="pt-100">
            <div class="tf-container">
                <div class="search-box">
                    <form method="post" action="{% url 'home' %}">
                        {% csrf_token %}
                        <input type="text" name="q" value="{{ query }}" placeholder="محصول خود را جستجو کنید..." >
                        <span style="color: #033f38;" class="icon icon-search"></span>
                        <button type="submit" style="margin-top:10px; background-color: #6B8E83 !important">جستجو</button>
                    </form>
                    {% if is_empty %}
                        <div class="wrap-swiper">
                            <div class="swiper cate-swiper">
                                <div class="swiper-wrapper pt-24 pb-30">
                                </div>
                            </div>
                        </div>
                        <div class="section">
                            <div class="tf-container">
                                <h2 class="mb-12">نتیجه جستجو</h2>
                                <ul class="wrap-categories">
                                    <p>هیچ محصولی یافت نشد</p>
                                </ul>
                            </div>
                        </div>
                    {% else %}
                        <div class="wrap-swiper">
                            <div class="swiper cate-swiper">
                                <div class="swiper-wrapper pt-24 pb-30">
                                </div>
                            </div>
                        </div>
    
                        {% for product in products %}
                            <div class="tab-content mt-16">
                                <ul class="tab-pane fade show active" id="near" role="tabpanel">
                                    <li class="tf-box-row mb-12">
                                        <a href="{% url 'product_detail' product.category.name product.name %}" class="img-box">
                                            <img src="{{ product.product_photo.url }}" alt="{{ product.name }}">
                                        </a>
                                        <div class="content-box">
                                            <h5><a href="{% url 'product_detail' product.category.name product.name %}">{{ product.name }}</a> </h5>
                                            <p>{{ product.description }}</p>
                                            <div class="box-price">
                                                <ul class="price">
                                                    <li class="accent">{{ product.price }} تومان</li>
                                                </ul>
                                                <a href="{% url 'product_detail' product.category.name product.name %}" class="btn-add">+</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="section">
            <div class="tf-container">
                <h2 class="mb-12" style="display: inline-block;">دسته‌بندی‌ها</h2>
                {% if user.is_admin %}
                <a href="{% url 'add_category' %}" style="display: inline-block; margin-right: 10px;">(ایجاد دسته‌بندی‌)</a>    
                {% endif %}           
                <ul class="wrap-categories">
                    {% for category in categories %}
                    <li class="categories-item">
                        <a href="{% url 'product_list' category.name %}">
                            <div class="box-img" style="width: 100%; aspect-ratio: 1 / 1; overflow: hidden; position: relative;">
                                <img src="{{ category.category_photo.url }}" alt="{{ category.name }}" style="width: 100%; height: 100%; object-fit: cover;">
                                {% if request.user.is_admin %}
                                    <a href="{% url 'update_category' category.id %}" class="btn-edit top-left"><i class="bi bi-pencil"></i></a>
                                {% endif %}
                            </div>
                            <div class="content">
                                <p>{{ category.name }}</p>
                                <span>{{ category.product_count }}</span>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>     
        
        <div class="section mt-22" style="margin-bottom:60px;">
            <div class="tf-container">
                <div class="title-bar">
                    <h2>محبوب‌ترین‌ها</h2>
                    <a href="{% url 'popular_products' %}">مشاهده همه <i class="icon-left"></i></a>
                </div>
                <div class="wrap-swiper">
                    <div class="swiper drink-swiper">
                        <div class="swiper-wrapper pb-30 pt-12">
                            {% for item in top_items %}
                            <div class="swiper-slide ml-2">
                                <div class="tf-box-column lg">
                                    <a href="{% url 'product_detail' item.category.name item.name %}" class="img-box">
                                        <img src="{{ item.product_photo.url }}" alt="{{ item.name }}">
                                    </a>
                                    <div class="content-box">
                                        <h3><a href="{% url 'product_detail' item.category.name item.name %}">{{ item.name }}</a></h3>
                                        <ul class="review">
                                            <li class="description" data-url="{% url 'product_detail' item.category.name item.name %}">
                                                {{ item.description }}
                                            </li>
                                        </ul>

                                        <div class="box-price">
                                            <span class="price">{{ item.price }} تومان</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>        
{% endblock %}