{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}
{% load static %}
{% block content %}

<div class="banner-wrapper">
    <img src="{{ product.product_photo.url }}" class="banner-img1">
</div>
<div class="title-detail-section">
    <div class="tf-container">
        <div class="title-detail st1">
            <div class="content">
                <h2><a class="text-primary">{{ product.name }}</a></h2>
                <ul class="review">
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="tf-container">
        <h4 class="pt-24">توضیحات</h4>
        {{ product.description }}
        <h4 class="pt-24">تعداد</h4>
        <form action="{% url 'cart_add' product.id %}" method="post" style="display:inline;">
            <div class="sec-qty mt-12">
                <span class="btn-quantity minus-btn"><i class="icon-minus"></i></span>
                <input type="number" name="quantity" value="1">
                <span class="btn-quantity active plus-btn"><i class="icon-plus"></i></span>
            </div>
            <div class="sec-size mt-30 mb-30">

            </div>
            {% csrf_token %}
            <div class="mb-20" style="margin-bottom:80px">
                <button type="submit" class="tf-btn large primary"><i class="icon-buy"></i> افزودن به سفارش ({{ product.price }} تومان)</button>             
            </div>
        </form>
    </div>
</div>
{% endblock %}

