<form method="get" action="">
    <input type="text" name="q" placeholder="Search for a product" value="{{ search_query }}">
    <button type="submit">Search</button>
</form>
{% for product in products %}
    <a href="{% url 'product_detail' product.category.id product.id %}">{{ product.name }}</a>
    <img src="{{ product.product_photo.url }}" alt="{{ product.name }}" style="width: 150px; height: 150px;">
{% endfor %}

{% comment %} <form method='post' enctype="multipart/form-data">{% csrf_token %}
    {% for product in products %}
        <a href="{% url 'product_detail' product.category.id product.id %}">{{ product.name }}</a>
        <img src="{{ product.product_photo.url }}" alt="{{ product.name }}" style="width: 150px; height: 150px;">
    {% endfor %}
</form> {% endcomment %}