{% extends 'staff-base.html' %}
{% block title %}لیست میزها{% endblock %}
{% load static %}
{% block content %}
<div class="page-content">

    <nav class="page-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'table_list' %}">مدیریت میزها</a></li>
        <li class="breadcrumb-item active" aria-current="page">لیست میزها</li>
      </ol>
    </nav>
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}" role="alert">
            {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table id="dataTableExample" class="table">
                <thead>
                  <tr>
                    <th>شماره میز</th>
                    <th>عملیات</th>
                  </tr>
                </thead>
                <tbody>
                    {% for table in tables %}
                    <tr>
                        <td>{{ table.number }}</td>
                        <td>
                            <a href="{% url 'table_update' table.id %}">
                                <button type="button" class="btn btn-primary btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="ویرایش">
                                    <i data-feather="edit"></i>
                                </button>
                            </a>
                            <button type="button" class="btn btn-primary btn-icon" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                data-qrcode="{{ MEDIA_URL }}{{ table.qr_code }}">
                            <i data-feather="command"></i>
                            </button>
                        </td>                                                                       
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">میزی یافت نشد.</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">مشاهده QR Code</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="بستن"></button>
        </div>
        <div class="modal-body text-center">
          <div id="spinner" class="spinner-border text-primary" role="status">
            <span class="visually-hidden">بارگزاری...</span>
          </div>
          <img id="modalQrCodeImage" class="d-none img-fluid mt-3" alt="QR Code" />
          <div id="modalAlert" class="alert alert-danger d-none mt-3" role="alert">
            QR Code برای این میز وجود ندارد.
          </div>
        </div>
        <div class="modal-footer">
          {% comment %} <a href="{{ MEDIA_URL }}{{ table.qr_code }}" class="btn btn-primary" data-bs-dismiss="modal">دانلود</a> {% endcomment %}
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
        </div>
      </div>
    </div>
  </div>
  
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var exampleModal = document.getElementById('exampleModal');

    exampleModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var qrCodeUrl = button.getAttribute('data-qrcode');
        
        var modalQrCodeImage = document.getElementById('modalQrCodeImage');
        var spinner = document.getElementById('spinner');
        var modalAlert = document.getElementById('modalAlert');

        modalQrCodeImage.classList.add('d-none');
        modalQrCodeImage.src = '';
        modalAlert.classList.add('d-none');
        spinner.style.display = 'block';

        if (qrCodeUrl) {
            modalQrCodeImage.onload = function () {
                spinner.style.display = 'none';
                modalQrCodeImage.classList.remove('d-none');
            };

            modalQrCodeImage.onerror = function () {
                spinner.style.display = 'none';
                modalAlert.classList.remove('d-none');
            };

            modalQrCodeImage.src = qrCodeUrl;
        } else {
            spinner.style.display = 'none';
            modalAlert.classList.remove('d-none');
        }
    });

    exampleModal.addEventListener('hidden.bs.modal', function () {
        var modalQrCodeImage = document.getElementById('modalQrCodeImage');
        modalQrCodeImage.src = '';
    });
});
</script>       
{% endblock %}