{% extends 'staff-base.html' %}
{% block title %}افزودن کارکنان{% endblock %}
{% load static %}
{% block content %}

<div class="page-content">

    <nav class="page-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'staff_list' %}">مدیریت کارکنان</a></li>
          <li class="breadcrumb-item active" aria-current="page">افزودن کارکنان</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <form id="addStaffForm" method="POST" enctype="multipart/form-data" onsubmit="return validatePasswords()">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">نام</label>
                                    <input type="text" name="first_name" class="form-control" placeholder="نام خود را وارد کنید">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">نام خانوادگی</label>
                                    <input type="text" name="last_name" class="form-control" placeholder="نام خانوادگی خود را وارد کنید">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">شماره تلفن</label>
                                    <input type="text" name="phone_number" class="form-control" placeholder="شماره تلفن خود را وارد کنید">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">آدرس ایمیل</label>
                                    <input type="email" name="email" class="form-control" placeholder="ایمیل خود را وارد کنید">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">تخصص</label>
                                    <select name="specialty" class="form-control">
                                        {% for choice in form.specialty.field.choices %}
                                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            {% comment %} <div class="col-sm-3">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" name="is_staff" class="form-check-input" id="is_staff">
                                    <label class="form-check-label" for="is_staff">کارمند</label>
                                </div>
                            </div> {% endcomment %}
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">رمز عبور</label>
                                    <input type="password" name="password1" class="form-control" placeholder="رمز عبور" id="password1">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">تکرار رمز عبور</label>
                                    <input type="password" name="password2" class="form-control" placeholder="تکرار رمز عبور" id="password2">
                                </div>
                            </div>
                        </div>
                        <p>شرایط رمز عبور:</p>
                        <ul>
                            <li>رمز عبور شما نمی‌تواند مشابه اطلاعات شخصی دیگر شما باشد.</li>
                            <li>رمز عبور شما باید حداقل ۸ کاراکتر باشد.</li>
                            <li>رمز عبور شما نمی‌تواند یک رمز عبور رایج باشد.</li>
                            <li>رمز عبور شما نمی‌تواند به‌طور کامل عددی باشد.</li>
                        </ul>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">تصویر پروفایل</label>
                                    <input type="file" name="profile_picture" class="form-control">
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">افزودن</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'staff/js/password-validation.js' %}"></script>
{% endblock %}
