<!DOCTYPE html>
<html lang="fa">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'main/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/boostrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/fonts/font-icons.css' %}">
    <link rel="shortcut icon" href="{% static 'main/images/logo/48.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'main/images/logo/48.png' %}">
    
    <title>ورود</title>
</head>

<body>
    <div class="preload preload-container">
        <div class="preload-logo">
            <div class="spinner"></div>
        </div>
    </div>
    
    <div class="account-area" style="background-image: url('{% static 'main/images/background/bg-1.png' %}')">
        <div class="tf-container">
            <div class="logo-app pt-20">
                <img src="{% static 'main/images/logo/logo-1.png' %}" alt="تصویر لوگو">
            </div>
            <div class="tf-title pt-16">
                <h1>ورود</h1>
                <p>لطفا برای ادامه، وارد حساب کاربری خود شوید.</p>
            </div>
            <div class="acount-box">
                <div class="tab-content">
                    <div class="tab-pane show active" id="signin" role="tabpanel">
                        <form method="post" class="tf-form">
                            {% csrf_token %}
                        
                            <div class="group-input mb-15">
                                <i class="icon icon-phone"></i>
                                {{ form.username }}
                            </div>
                        
                            <div class="group-input mb-15 group-ip-password">
                                <i class="icon icon-lock"></i>
                                {{ form.password }}
                                <div class="box-auth-show">
                                    <span class="show-pass">
                                        <i class="icon-eye-hide"></i>
                                        <i class="icon-eye-show"></i>
                                    </span>
                                </div>
                            </div>
                        
                            <input type="submit" value="ورود">
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'main/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/bootstrap-select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>

</body>

</html>
