<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود</title>

	<link rel="stylesheet" href="{% static 'staff/vendors/core/core.css' %}">
	<link rel="stylesheet" href="{% static 'staff/fonts/feather-font/css/iconfont.css' %}">
	<link rel="stylesheet" href="{% static 'staff/vendors/flag-icon-css/css/flag-icon.min.css' %}">
	<link rel="stylesheet" href="{% static 'staff/css/demo1/style-rtl.min.css' %}">
	<link rel="shortcut icon" href="{% static 'main/images/logo/48.png' %}" />
</head>

<body>
    <div class="main-wrapper">
        <div class="page-wrapper full-page">
            <div class="page-content d-flex align-items-center justify-content-center">
                <div class="row w-100 mx-0 auth-page">
                    <div class="col-md-8 col-xl-6 mx-auto">
                        <div class="card">
                            <div class="row">
                                <div class="col-md-4 pe-md-0">
                                    <div class="auth-side-wrapper">
                                </div>
                            </div>
                                <div class="col-md-8 ps-md-0">
                                    <div class="auth-form-wrapper px-4 py-5">
                                        <a href="{% url 'home' %}" class="noble-ui-logo d-block mb-2">کافه<span>&nbsp;{{ site_info.site_name }}</span></a>
                                        <h5 class="text-muted fw-normal mb-4">برای ورود به حساب کاربری خود، اطلاعات زیر را تکمیل کنید
                                        </h5>
                                        {% if messages %}
                                        <div>
                                            {% for message in messages %}
                                                <div class="alert alert-danger">
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        <form class="forms-sample" method="post">
                                            {% csrf_token %}
                                            
                                            <div class="mb-3">
                                                <label for="username" class="form-label">شماره تلفن</label>
                                                    {{ form.username }}
                                            </div>
                                            <div class="mb-3">
                                                <label for="password" class="form-label">رمز عبور</label>
                                                    {{ form.password }}
                                            </div>
                                            <div>
												<button type="submit"
                                                class="btn btn-primary me-2 mb-2 mb-md-0 text-white">
                                                ورود
												</button>
											</div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<script src="{% static 'staff/vendors/core/core.js' %}"></script>
	<script src="{% static 'staff/vendors/feather-icons/feather.min.js' %}"></script>
	<script src="{% static 'staff/js/template.js' %}"></script>
</body>

</html>
