{% extends 'staff-base.html' %}
{% block title %}داشبورد مدیریت{% endblock %}
{% load static %}
{% block content %}
<div class="page-content">
  <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <div class="d-flex align-items-center">
            <h4 class="mb-3 mb-md-0 me-2">به داشبورد خوش آمدید</h4>
            <button type="button" class="btn btn-light btn-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" title="مقادیر موجود در این صفحه محدود به 5 مورد آخر هر جدول است. گزارش کامل از طریق دکمه مقابل قابل دانلود است">
                <i data-feather="info"></i>
            </button>
        </div>
      <div class="d-flex align-items-center flex-wrap text-nowrap">
          {% comment %} 
          <div class="input-group flatpickr wd-200 me-2 mb-2 mb-md-0">
              <span class="input-group-text input-group-addon bg-transparent border-primary" data-toggle>
                  <i data-feather="calendar" class="text-primary"></i>
              </span>
              <input type="text" class="form-control bg-transparent border-primary tarikh" placeholder="انتخاب تاریخ">
          </div> 
          {% endcomment %}
          <a href="{% url 'export_sales_report' %}" class="btn btn-primary btn-icon-text mb-2 mb-md-0">
              <i class="btn-icon-prepend" data-feather="download-cloud"></i> دانلود گزارش
          </a> 
      </div>
  </div>

  <div class="row">
    <div class="col-12 col-xl-12 stretch-card">
        <div class="row flex-grow-1">
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <h6 class="card-title mb-0">فروش روزانه</h6>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-12 col-xl-5">
                                <h3 class="mb-2" style="margin-top:10px">{{ daily_sales }}</h3>
                                <div class="d-flex align-items-baseline">
                                    <p class="{% if daily_sales_change > 0 %}text-success{% else %}text-danger{% endif %}">
                                        <span>{{ daily_sales_change }}%</span>
                                        <i data-feather="arrow-{% if daily_sales_change > 0 %}up{% else %}down{% endif %}" class="icon-sm mb-1"></i>
                                    </p>
                                </div>
                            </div>
                            <div class="col-6 col-md-12 col-xl-7">
                                <div id="customersChart" class="mt-md-3 mt-xl-0"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                
            </script>
            
            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <h6 class="card-title mb-0">فروش ماهانه</h6>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-12 col-xl-5">
                                <h3 class="mb-2" style="margin-top:10px">{{ monthly_sales }}</h3>
                                <div class="d-flex align-items-baseline">
                                    <p class="{% if monthly_sales_change > 0 %}text-success{% else %}text-danger{% endif %}">
                                        <span>{{ monthly_sales_change }}%</span>
                                        <i data-feather="arrow-{% if monthly_sales_change > 0 %}up{% else %}down{% endif %}" class="icon-sm mb-1"></i>
                                    </p>
                                </div>
                            </div>
                            <div class="col-6 col-md-12 col-xl-7">
                                <div id="growthChart" class="mt-md-3 mt-xl-0"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                var monthlySales = parseFloat("{{ monthly_sales }}");
            </script>
              

            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <h6 class="card-title mb-0">فروش سالانه</h6>
                        </div>
                        <div class="row">
                            <div class="col-6 col-md-12 col-xl-5">
                                <h3 class="mb-2" style="margin-top:10px">{{ yearly_sales }}</h3>
                                <div class="d-flex align-items-baseline">
                                    <p class="{% if yearly_sales_change > 0 %}text-success{% else %}text-danger{% endif %}">
                                        <span>{{ yearly_sales_change }}%</span>
                                        <i data-feather="arrow-{% if yearly_sales_change > 0 %}up{% else %}down{% endif %}" class="icon-sm mb-1"></i>
                                    </p>
                                </div>
                            </div>
                            <div class="col-6 col-md-12 col-xl-7">
                                <div id="ordersChart" class="mt-md-3 mt-xl-0"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <div class="row">
    <div class="col-lg-7 col-xl-8 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-baseline mb-2">
            <h6 class="card-title mb-0">فروش بر اساس مشتری</h6>
          </div>
          <p class="text-muted">تعداد کل مشتری: {{ total_customers }}</p>
          <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>روش پرداخت مشتری</th>
                        <th>مبلغ کل سفارش</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in sales_by_customer|slice:":5" %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td>{{ order.get_payment_method_display }}</td>
                        <td>{{ order.total_price }} تومان</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-xl-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-baseline">
            <h6 class="card-title mb-0">فروش بر اساس کارکنان</h6>
          </div>
          
          <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>کارمند</th>
                        <th class="text-center">تعداد سفارش پردازش شده</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in sales_by_employee %}
                        {% if employee.total_orders_handled > 0 %}
                            <tr>
                                <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                                <td class="text-center">{{ employee.total_orders_handled }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>            
        </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
      <div class="col-lg-5 col-xl-4 grid-margin grid-margin-xl-0 stretch-card">
          <div class="card">
              <div class="card-body">
                  <div class="d-flex justify-content-between align-items-baseline mb-2">
                      <h6 class="card-title mb-0">فروش بر اساس زمان از روز</h6>
                  </div>
                  <div class="sales-data">
                      <div class="sales-item">فروش صبح: {{ morning_sales }}</div>
                      <hr>
                      <div class="sales-item">فروش بعد از ظهر: {{ afternoon_sales }}</div>
                      <hr>
                      <div class="sales-item">فروش شب: {{ evening_sales }}</div>
                      <hr>
                      <div class="sales-item">
                          {% if peak_business_hour %}
                              <p>ساعت اوج فروش: {{ peak_business_hour }}:۰۰ با مجموع فروش {{ peak_business_hour_sales }}</p>
                          {% else %}
                              <p>داده‌ای برای ساعت اوج فروش موجود نیست.</p>
                          {% endif %}
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-lg-7 col-xl-8 stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <h6 class="card-title mb-0">فروش بر اساس دسته بندی</h6>
                </div>
                <div class="table-responsive" style="margin-top:10px">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th class="pt-0"></th>
                                <th class="pt-0">نام دسته بندی</th>
                                <th class="pt-0">تعداد فروش</th>
                                <th class="pt-0">عملیات</th>
                            </tr>
                        </thead>
                        <tbody id="category-table-body">
                            {% for category in sales_by_category|slice:":5" %}
                            <tr>
                                <td class="py-1">
                                    <img src="{{ category.category_photo.url }}" alt="{{ category.name }}">
                                </td>
                                <td>{{ category.name }}</td>
                                <td>{{ category.total_sales }}</td>
                                <td>
                                    <a href="{% url 'product_list' category.name %}">
                                        <button type="button" class="btn btn-primary btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="مشاهده">
                                            <i data-feather="eye"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>                    
                </div>
            </div>
        </div>
    </div>
    
    
  </div>
  
</div>






<h1>Manager Panel</h1>

{% comment %} <h2>Total Sales</h2>
<p>{{ total_sales }}</p>

<h2>Daily, Monthly, and Yearly Sales</h2>
<ul>
    <li><strong>Daily Sales:</strong> {{ daily_sales }}</li>
    <li><strong>Monthly Sales:</strong> {{ monthly_sales }}</li>
    <li><strong>Yearly Sales:</strong> {{ yearly_sales }}</li>
</ul> {% endcomment %}

<h2>Top-Selling Items</h2>
<form method="GET">
    <label for="start_date">Start Date:</label>
    <input type="date" name="start_date" id="start_date">

    <label for="end_date">End Date:</label>
    <input type="date" name="end_date" id="end_date">
    
    <button type="submit">Filter by Date</button>
</form>
<table>
    <tr>
        <th>Item</th>
        <th>Total Sold</th>
    </tr>
    {% for item in top_items %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.total_sold }}</td>
    </tr>
    {% endfor %}
</table>
{% for item in last_10_days %}
{{item}}
{% endfor %}
{% endblock %}