<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ staff_name }} Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ staff_name }}</h1>

    <form method="GET">
        <label for="status">Filter by Status:</label>
        <select name="status" id="status">
            <option value="">All</option>
            <option value="pending">Pending</option>
            <option value="completed">Completed</option>
        </select>
        <button type="submit">Filter</button>
    </form>

    <form method="GET">
        <label for="phone_number">Search by Phone Number:</label>
        <input type="text" name="phone_number" id="phone_number">
        <button type="submit">Search</button>
    </form>

    <form method="GET">
        <label for="table_number">Filter by Table Number:</label>
        <input type="number" name="table_number" id="table_number" min="1">
        <button type="submit">Filter</button>
    </form>

    <form method="GET">
        <label for="start_date">Start Date:</label>
        <input type="date" name="start_date" id="start_date">

        <label for="end_date">End Date:</label>
        <input type="date" name="end_date" id="end_date">
        
        <button type="submit">Filter by Date</button>
    </form>

    <h2>Orders</h2>
    <p>For creating new orders click on,
    <a href="{% url 'order_create' %}">create</a>
    </p>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Phone Number</th>
                <th>Status</th>
                <th>Table Number</th>
                <th>Date Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.modify_by.phone_number }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.table.number }}</td>
                <td>{{ order.created_at|date:"Y-m-d" }}</td>
                <td>
                    <a href="{% url 'order_update' order.id %}">Update</a>
                    <a href="{% url 'order_delete' order.id %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No orders available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>
