{% extends 'staff-base.html' %}
{% block title %}مدیریت سفارشات{% endblock %}
{% load static %}
{% block content %}
<div class="page-content">

    <nav class="page-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'staff_dashboard' %}">سفارشات</a></li>
        <li class="breadcrumb-item active" aria-current="page">لیست سفارشات</li>
      </ol>
    </nav>


    <div class="accordion" id="accordionExample" style="margin-bottom:15px">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                فیلتر بر اساس وضعیت
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <form method="GET">
                            <label for="exampleFormControlSelect1" class="form-label">انتخاب وضعیت</label>
                            <select class="form-select" name="status" id="status">
                            <option value="" selected>همه</option>
                            <option value="P">در حال انتظار</option>
                            <option value="CK">در حال پخت</option>
                            <option value="A">تایید شده</option>
                            <option value="CA">لغو شده</option>
                            <option value="C">تکمیل شده</option>
                            </select>
                            <button type="submit" class="btn btn-primary" style="margin-top:15px">فیلتر</button>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              فیلتر بر اساس شماره همراه
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <form method="GET">
                            <input type="text" class="form-control" name="phone_number" id="phone_number" placeholder="شماره همراه مد نظر را وارد نمایید">
                            <button type="submit" class="btn btn-primary" style="margin-top:15px">فیلتر</button>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              فیلتر بر اساس شماره میز
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <form method="GET">
                            <label for="table_number" class="form-label">شماره میز را وارد نمایید</label>
                            <input type="number" class="form-control" name="table_number" id="table_number" min="1">
                            <button type="submit" class="btn btn-primary" style="margin-top:15px">فیلتر</button>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              فیلتر بر اساس تاریخ
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <form method="GET">

                            <div class="input-group flatpickr" id="flatpickr-date" for="start_date">
                                <label class="d-block w-100">شروع</label>
                                <input type="text" class="form-control" name="start_date" id="start_date" placeholder=" انتخاب تاریخ شروع" data-input>
                                <span class="input-group-text input-group-addon" data-toggle><i data-feather="calendar"></i></span>
                            </div>
                            <div class="input-group flatpickr" id="flatpickr-date" for="end_date">
                                <label class="d-block w-100">پایان</label>
                                <input type="text" class="form-control" name="end_date" id="end_date" placeholder=" انتخاب تاریخ شروع" data-input>
                                <span class="input-group-text input-group-addon" data-toggle><i data-feather="calendar"></i></span>
                            </div>
                            <button type="submit" class="btn btn-primary" style="margin-top:15px">فیلتر</button>
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table id="dataTableExample" class="table">
                <thead>
                  <tr>
                    <th>شماره سفارش</th>
                    <th>شماره همراه</th>
                    <th>شماره میز</th>
                    <th>وضعیت</th>
                    <th>زمان ثبت</th>
                    <th>عملیات</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in orders %}
                  <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.modify_by.phone_number }}</td>
                    <td>{{ order.table.number }}</td>
                    <td>
                      {% if order.status == 'P' %}
                          <span class="badge bg-warning">در حال انتظار</span>
                      {% elif order.status == 'A' %}
                          <span class="badge bg-info">تایید شده</span>
                      {% elif order.status == 'CA' %}
                          <span class="badge bg-danger">لغو شده</span>
                      {% elif order.status == 'CK' %}
                          <span class="badge bg-primary">در حال پخت</span>
                      {% elif order.status == 'C' %}
                          <span class="badge bg-success">منتشر شده</span>
                      {% else %}
                          {{ order.get_status_display }}
                      {% endif %}
                  </td>
                  
                    <td>{{ order.created_at|date:"Y-m-d" }}</td>
                    <td>
                      <a href="{% url 'order_update' order.id %}">
                        <button type="button" class="btn btn-primary btn-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="ویرایش سفارش">
                          <i data-feather="edit"></i>
                        </button>
                      </a>
                      <button type="button" class="btn btn-danger btn-icon" data-bs-toggle="modal" data-bs-target="#deletemodal{{ order.id }}" data-order-id="{{ order.id }}">
                        <i data-feather="trash-2"></i>
                      </button>
                    </td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="6">سفارشی وجود ندارد.</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              
              {% for order in orders %}
              <div class="modal fade" id="deletemodal{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">حذف سفارش</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
                    </div>
                    <div class="modal-body">
                      آیا میخواهید سفارش با شماره {{ order.id }} را حذف کنید؟
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                      <form method="post" action="{% url 'order_delete' order.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">حذف</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
