{% load static %}
<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'main/css/boostrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'main/fonts/font-icons.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/nouislider.min.css' %}">
    <link rel="shortcut icon" href="{% static 'main/images/logo/48.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'main/images/logo/48.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">

    <title>{% block title %}{% endblock %}</title>
</head>

    <div class="header absolute">
        <div class="tf-container">
            <div class="menu-bar mt-10">
                <a href="{% url 'home' %}" class="back-btn primary"><i class="icon-right"></i></a>
            </div>
        </div>
    </div>

    <div class="app">
        {% block content %}

        {% endblock %}
    </div>
    {% url 'home' as home_url %}
    {% url 'cart_detail' as cart_detail_url %}
    {% url 'order_history' as order_history_url %}
    {% url 'staff_dashboard' as staff_dashboard_url %}
    {% url 'manager_dashboard' as manager_dashboard_url %}
    {% url 'logout' as logout_url %}


<div class="menubar-footer footer-fixed">
    <ul class="inner">
        <li><a href="{{ home_url }}" style="color: {% if request.path == home_url %}#033f38{% endif %};">
            <span class="icon-home" style="color: {% if request.path == home_url %}#033f38{% endif %};"></span>خانه</a></li>
        <li><a href="{{ cart_detail_url }}" style="color: {% if request.path == cart_detail_url %}#033f38{% endif %};">
            <span class="icon-buy" style="color: {% if request.path == cart_detail_url %}#033f38{% endif %};"></span> سبد خرید</a></li>
        <li><a href="{{ order_history_url }}" style="color: {% if request.path == order_history_url %}#033f38{% endif %};">
            <span class="icon-card-num" style="color: {% if request.path == order_history_url %}#033f38{% endif %};"></span>سفارشات</a></li>

        {% if user.is_staff and not user.is_admin %}
            <li><a href="{{ staff_dashboard_url }}" style="color: {% if request.path == staff_dashboard_url %}#033f38{% endif %};">
                <span class="icon-setting" style="color: {% if request.path == staff_dashboard_url %}#033f38{% endif %};"></span>مدیریت سفارشات</a></li>
        {% endif %}

        {% if user.is_admin %}
            <li><a href="{{ manager_dashboard_url }}" style="color: {% if request.path == manager_dashboard_url %}#033f38{% endif %};">
                <span class="icon-setting" style="color: {% if request.path == manager_dashboard_url %}#033f38{% endif %};"></span>مدیریت سایت</a></li>
        {% endif %}

        {% if user.is_authenticated %}
            <li><a href="{{ logout_url }}" style="color: {% if request.path == logout_url %}#033f38{% endif %};">
                <span class="icon-logout" style="color: {% if request.path == logout_url %}#033f38{% endif %};"></span>خروج</a></li>
        {% endif %}
    </ul>
</div>


    
    
    

</body>
<script type="text/javascript" src="{% static 'main/js/footer.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/nouislider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/swiper-bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'main/js/main.js' %}"></script>

</html>
